[AnyDACSettings]
MonitorInDelphiIDE=False
MonitorCategories=$FFFF
MonitorByIndy_Host=localhost
MonitorByIndy_Port=8050
MonitorByIndy_Timeout=3000
MonitorByFlatFile_FileName=$(TEMP)\trace$(NEXT).txt
MonitorByFlatFile_Append=True

[Access_Demo]
DriverID=MSAcc
Database=$(ADHOME)\DB\Data\ADDemo.mdb

[MySQL_Demo]
DriverID=MySQL
Host=APP
Port=3306
Database=ADDemo
User_Name=root
Password=
MetaDefCatalog=ADDemo

[DB2_Demo]
DriverID=DB2
User_Name=db2admin
Password=Parliament
Database=ADDEMO
MetaDefSchema=db2admin

[MSSQL2000_Demo]
DriverID=MSSQL2000
User_Name=sa
Server=MSSQL_2000_APP
Database=Northwind
MonitorBy=Indy
MetaDefSchema=dbo
MetaDefCatalog=Northwind

[MSSQL2005_Demo]
DriverID=MSSQL2005
User_Name=sa
Server=MSSQL_2005_APP
Database=Northwind
MonitorBy=Indy
MetaDefSchema=dbo
MetaDefCatalog=Northwind

[ASA_Demo]
DriverID=ASA
Database=addemo
User_Name=dba
Password=sql
EngineName=app\addemo
DisMultiRowFetch=No
MetaDefSchema=dba

[Oracle_Demo]
DriverID=Ora
DataBase=ORA_920_APP
User_Name=ADDemo
Password=a
MetaDefSchema=ADDemo
